<form method="post" action="/bat" class="mb-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Bat Category</label>
    <input type="text" class="form-control" name="category" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Price</label>
    <input
      type="text"
      class="form-control"
      name="price"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image Path</label>
    <input
      type="text"
      class="form-control"
      name="imgPath"
      id="exampleInputPassword1"
    />
  </div>

  <button type="submit" class="btn btn-primary">Add BAT</button>
</form>
