<!-- views/categories.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('./navbar') %>
    <h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(category => { %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.icon %></td>
        <td><%= category.color %></td>
      </tr>
    <% }); %>
  </tbody>
</table><!-- views/categories.ejs -->


</body>
</html>
